<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweeter Analysis Dashboard</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>





    
</head>
<section id='home-part'>
    <div id="Section">
      <p>Tweets by GeoJson </p>
      <img class="img_logo"   src="../static/twitter_logo.png" alt="">
  
    </div>
<body>

  
<!-- The div that holds our map -->
<div id="mapid"></div>


<form action="http://127.0.0.1:5000">
    <button class="button" type="submit" value="submit">Return</button> 
  </form>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    
    <!-- API key -->
    <script type="text/javascript" src="../static/config.js"></script>
    <!-- Our JavaScript -->

    <!-- <script type="text/javascript" src="static/js/cities.js"></script> -->
    
    <script type="text/javascript" src="../static/logic.js"></script>
    
  

</body>
</html>


